<!doctype html>
<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="https://fonts.maateen.me/solaiman-lipi/font.css" rel="stylesheet">
        <title>বাংলা অ্যাসাইনমেন্ট প্লেজারিজম টেস্টার</title>
        <style>
            body {
                font-family: 'SolaimanLipi', sans-serif;
            }
        </style>
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div>
                        <nav class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-between align-items-center">
                            <div>
                                <a class="navbar-brand" href="#">বাংলা অ্যাসাইনমেন্ট প্লেগারিজম টেস্টার</a>
                            </div>

                            <div class="form-inline my-2 my-lg-0">
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item" role="presentation">

                                        {% if tab == "home" %}
                                        <button class="nav-link active" id="home-tab" data-toggle="tab" data-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Two Text</button>
                                        {% else %}
                                        <button class="nav-link" id="home-tab" data-toggle="tab" data-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Two Text</button>
                                        {% endif %}
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        {% if tab == "two_pdf" %}
                                        <button class="nav-link active" id="profile-tab" data-toggle="tab" data-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Two PDF</button>
                                        {% else %}
                                        <button class="nav-link" id="profile-tab" data-toggle="tab" data-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Two PDF</button>
                                        {% endif %}
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        {% if tab == "multi" %}
                                        <button class="nav-link active" id="contact-tab" data-toggle="tab" data-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Multiple PDF</button>
                                        {% else %}
                                        <button class="nav-link" id="contact-tab" data-toggle="tab" data-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Multiple PDF</button>
                                        {% endif %}
                                      
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link {% if tab == 'one_to_many' %} active {% endif %}" id="oneToMeny-tab" data-toggle="tab" data-target="#oneToMeny" type="button" role="tab" aria-controls="oneToMeny" aria-selected="false">One to Many</button>
                                    </li>
                                  </ul>

                                  <div>
                                    <a href="{% url 'plag' %}" class="btn btn-success mx-2">
                                        Refresh
                                    </a>
                                  </div>
                            </div>

                        </nav>
                    </div>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade {% if tab == 'home' %} show active {% endif %}" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <!-- only bangla text -->
                            <form class="" enctype="multipart/form-data" method="post">
                                {% csrf_token %}
                                <div class="row my-4">
        
                                    <div class="col-md-6">
                                        <div class="card">
                                            <div class="card-header text-center">
                                                <h3>এন্টার টেক্সট ১</h3>
                                            </div>
        
                                            <div class="card-body">
        
                                                <div class="form-group">
                                                    <textarea class="form-control" name="doc1" id="text1" rows="10">{{form.doc1}}</textarea>
                                                </div>
        
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="card">
                                            <div class="card-header text-center">
                                                <h3>এন্টার টেক্সট ২</h3>
                                            </div>
                                            <div class="card-body">
                                                <div class="form-group">
                                                    <textarea class="form-control" name="doc2" id="text1" rows="10">{{form.doc2}}</textarea>
                                                </div>
        
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group w-100 d-flex justify-content-center align-items-center">
                                    <button type="submit" class="btn btn-primary btn-lg btn-block w-50 ">Check</button>
                                </div>
                            </form>
                        </div>
                        <!-- single file -->
                        <div class="tab-pane fade {% if tab == 'two_pdf' %} show active {% endif %}" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <div class="my-5">
                                <p class="text-center">Upload Two Bangla PDF for checking the plagiarism between two pdf</p>
                            </div>
                            <form enctype="multipart/form-data" method="post">
                                {% csrf_token %}
                                <div class="row flex-row">
                                    <div class="form-group col-md-6">
                                        <input type="file" name="file1" class="form-control">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <input type="file" name="file2" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group w-100 d-flex justify-content-center align-items-center">
                                    <button type="submit" class="btn btn-primary btn-lg btn-block w-50 ">Check</button>
                                </div>
                            </form>
                        </div>
                        <!-- multiple file -->
                        <div class="tab-pane fade {% if tab == 'multi' %} show active {% endif %}" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                            <div class="my-5">
                                <p class="text-center">Upload 2 or more Bangla PDF for checking the plagiarism between all pdf</p>
                            </div>
                            <form class="" enctype="multipart/form-data" method="post">
                                {% csrf_token %}
                                <div class="row flex-row">
                                    <div class="form-group col-md-6 mx-auto">
                                        <input type="file" multiple name="files" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group w-100 d-flex justify-content-center align-items-center">
                                    <button type="submit" class="btn btn-primary btn-lg btn-block w-50 ">Check</button>
                                </div>
                            </form>
                        </div>
                        <!-- one to many -->
                        <div class="tab-pane fade {% if tab == 'one_to_many' %} show active {% endif %}" id="oneToMeny" role="tabpanel" aria-labelledby="oneToMeny-tab">
                            <div class="my-5">
                                <p class="text-center">Upload a Pdf file to check with multiple pdf</p>
                            </div>
                            <form class="" enctype="multipart/form-data" method="post">
                                {% csrf_token %}
                                <div class="row flex-row">
                                    <div class="form-group col-md-6">
                                        <label for="singleFile">Single PDF</label>
                                        <input type="file" name="singleFile" class="form-control">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="singleFile">Multiple PDF</label>
                                        <input type="file" multiple name="multiFile" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group w-100 d-flex justify-content-center align-items-center">
                                    <button type="submit" class="btn btn-primary btn-lg btn-block w-50 ">Check</button>
                                </div>
                            </form>
                        </div>
                      </div>


                    <br>
                    <br>
                    {% if results %}
                    <div class="row">
                        <div class="col-md-6 mx-auto">
                            <div class="card">
                                <div class="card-header text-center">
                                    <h3>রিপোর্ট</h3>
                                </div>
                                <div class="card-body">
                                {% if tab == 'multi' %}
                                  <table class="table">
                                    <thead>
                                        <tr>
                                            <th>PDF Name</th>
                                            <th>Sentences</th>
                                            <th>Percentage</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for res in results %}
                                            <tr>
                                                <td>{{res.between}}</td>
                                                <td>
                                                    {% for text in res.text %}
                                                        <p>{{text}}</p>
                                                    {% endfor %}
                                                </td>
                                                <td>{{res.percen}}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                   </table>
                                   {% elif tab == 'home' %}
                                   <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Sentences</th>
                                            <th>Percentage</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                {% for text in results.text %}
                                                    <p>{{text}}</p>
                                                {% endfor %}
                                            </td>
                                            <td>{{results.percen}}</td>
                                        </tr>
                                    </tbody>
                                   </table>
                                   {% elif tap == one_to_many %}
                                   <table class="table">
                                    <thead>
                                        <tr>
                                            <th>PDF Name</th>
                                            <th>Sentences</th>
                                            <th>Percentage</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for res in results %}
                                        <tr>
                                            <td>{{res.between}}</td>
                                            <td>
                                                {% for text in res.text %}
                                                    <p>{{text}}</p>
                                                {% endfor %}
                                            </td>
                                            <td>{{res.percen}}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                   </table>

                                   <!-- one file with multiple file checker result show -->
                                   {% else %}
                                   <table class="table">
                                    <thead>
                                        <tr>
                                            <th>PDF Name</th>
                                            <th>Sentences</th>
                                            <th>Percentage</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>{{results.between}}</td>
                                            <td>
                                                {% for text in results.text %}
                                                    <p>{{text}}</p>
                                                {% endfor %}
                                            </td>
                                            <td>{{results.percen}}</td>
                                        </tr>
                                    </tbody>
                                   </table>
                                   {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>

            <!-- Optional JavaScript -->
            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>

</html>